.p{
    display: flex;
    margin: auto;
    height: 750px;
    width: 750px;
    background: rgb(59, 187, 20);
}
.title{
    text-align: center;
    margin: auto;
    font-size: 40px;
    color:rgb(0, 0, 0);
    width: 750px;
}
.level1 {
    justify-content: flex-end;
}
.level2 {
    justify-content: center;
}
.level3 {
    justify-content: space-around; 
}
.level4 {
    justify-content: space-between;
}
.level5 {
    align-items: flex-end;
}
.level6 {
    justify-content: center;
    align-items: center;
}
.level7 {
    justify-content: space-around;
    align-items: flex-end;
}
.level8 {
    flex-direction: row-reverse;
}
.level9 {
    flex-direction: column;
}
.level10 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.level11 {
    flex-direction: column;
    justify-content: flex-end;
}
.level12 {
    flex-direction: column-reverse;
    justify-content: space-between; 
}
.level13 {
    flex-direction: row-reverse;
    justify-content: center; 
    align-items: flex-end;
}
.yellow14 {
    order: 1
}
.red15 {
    order: -3;
}
.level16 {
    height: 500px;
    align-items: flex-start;
}
.yellow16 {
    align-self: flex-end
}
.level17 {
    height: 750px;
    align-items: flex-start;
}
.yellow17 {
    align-self: flex-end;
    order: 1; 
}
.level18 {
    flex-wrap: wrap;
}
.level19 {
    height: 750px;
    flex-direction: column;
    flex-wrap: wrap;
}
.level20 {
    flex-flow: column wrap;
}
.level21 {
    flex-wrap: wrap;
    align-content: flex-start;
}
.level22 {
    flex-wrap: wrap;
    align-content: flex-end;
}
.level23 {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}
.level24 {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    align-content: space-between;
    justify-content: center;
}
